tr:first-child{
    background-color: black;
    color:white;
    border: none;

}
td, th {
    padding: 10px;
    text-align: start;
}
table {
    border-collapse: collapse;
}
tr:nth-child(odd):not(:first-child){
    background-color: #cccfcd;
}
tr:hover{
    background-color: #B0C4DE;
}